* {
	margin: 0px;
	padding: 0px;
}


div.header {
	position: fixed;

	top: 0px;
	width: 100%;
}


div.header-name {
	float: left;

	margin: 20px;
}


div.header-menu {
	float: right;
}


a.menu-button {
	display: block;
	float: left;

	margin: 10px;
	padding: 10px;

	text-decoration: none;
	text-transform: uppercase;
}


div.board {
	width: 80%;
	margin: 100px;

	word-wrap: break-word;
}


div.board-advertisement {
	margin-bottom: 25px;
}


div.board-advertisement-header {
	margin: 15px;
}


div.board-advertisement-header-header {
	text-transform: uppercase;
}


div.board-advertisement-header-author {
	margin: auto;
}


div.board-advertisement-text {
	margin: 10px;
}
